#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.avatar {
  display:flex;
  flex-wrap: wrap;
}

figure  {
  border-radius: 50px;
  border-style: double;
  padding: 30px 50px 15px 30px;
  background: rgba(44, 168, 193, 0.799);
}

figcaption  {
  background-color: rgba(255, 255, 255, 0.33);
  width: 100%;
  border-style: dashed;
  border-radius: 50px;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 20px;
  font-family: "Rock Salt", cursive;
  font-weight: bold;
  word-spacing: 5px;
  color: white;
}

figcaption:hover {
  animation-duration: 500ms;
  animation-name: expand;
  animation-fill-mode: forwards;
  color: rgba(255, 255, 255, 0.8);
  box-shadow: -5px 5px 5px -5px rgba(0, 0, 0, 0.45);
}

a {
  text-decoration: inherit;
}

#logo {
  margin: 50px;
  height: 180px
}

#logo:hover {
  animation-duration: 2s;
  animation-name: wiggle;
}

.picture:hover {
  animation-duration: 1s;
  animation-name: expand;
  animation-fill-mode: forwards;
}

figure:hover {
  animation-duration: 1s;
  animation-name: expand;
  animation-fill-mode: forwards;
  box-shadow: -10px 10px 10px -10px rgba(0, 0, 0, 0.425);
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
    transform: scale(1.1);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
    transform: scale(1.5);
  }
}

@keyframes expand {
  from {
    transform: scale(1.0);
    
}
  to {
    transform: scale(1.12);
}
}

#counter  {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#counter img:hover  {
  animation-name: rotation;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}

#counter:hover {
  animation-name: expand;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes rotation {
  from {
    transform:rotate(0deg)
    
}
  to {
    transform: rotate(360deg);
}
}